# 데스크톱 앱 루트의 .env와 같은 값을 쓰면 된다. Expo는 EXPO_PUBLIC_ 접두사가 붙은 값만
# 앱 번들에 주입한다. (모두 클라이언트에 노출되는 값이라 비밀 키는 넣지 말 것)
EXPO_PUBLIC_SUPABASE_URL=
EXPO_PUBLIC_SUPABASE_ANON_KEY=
EXPO_PUBLIC_TMDB_API_KEY=
EXPO_PUBLIC_ALADIN_TTB_KEY=
