html,
body,
#root {
  height: 100%;
}

html {
  /* 개별 컴포넌트마다 px 폰트 크기가 흩어져 있어서, 전체 UI를 균일하게 키우는 용도 */
  zoom: 1.1;
}

body {
  overflow: hidden;
  user-select: none;
}

#root {
  display: flex;
  flex-direction: column;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background: var(--color-neutral-700);
  border-radius: 4px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
