html,
body,
#root {
  height: 100%;
}

body {
  overflow: hidden;
  user-select: none;
}

#root {
  display: flex;
  flex-direction: column;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background: var(--color-neutral-700);
  border-radius: 4px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
